/* line 2, ../_sass/_base.scss */
.mono {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* =============================================================================
   HTML5 element display
   ========================================================================== */
/* line 14, ../_sass/_html5boilerplate.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 15, ../_sass/_html5boilerplate.scss */
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 32, ../_sass/_html5boilerplate.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 34, ../_sass/_html5boilerplate.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

/* line 36, ../_sass/_html5boilerplate.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
/* line 44, ../_sass/_html5boilerplate.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 45, ../_sass/_html5boilerplate.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 52, ../_sass/_html5boilerplate.scss */
a {
  color: #00e;
}

/* line 53, ../_sass/_html5boilerplate.scss */
a:visited {
  color: #551a8b;
}

/* line 54, ../_sass/_html5boilerplate.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
/* line 57, ../_sass/_html5boilerplate.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 64, ../_sass/_html5boilerplate.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 66, ../_sass/_html5boilerplate.scss */
b, strong {
  font-weight: bold;
}

/* line 68, ../_sass/_html5boilerplate.scss */
blockquote {
  margin: 1em 40px;
}

/* line 70, ../_sass/_html5boilerplate.scss */
dfn {
  font-style: italic;
}

/* line 72, ../_sass/_html5boilerplate.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 74, ../_sass/_html5boilerplate.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 76, ../_sass/_html5boilerplate.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
/* line 79, ../_sass/_html5boilerplate.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 82, ../_sass/_html5boilerplate.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 84, ../_sass/_html5boilerplate.scss */
q {
  quotes: none;
}

/* line 85, ../_sass/_html5boilerplate.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 87, ../_sass/_html5boilerplate.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
/* line 90, ../_sass/_html5boilerplate.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 91, ../_sass/_html5boilerplate.scss */
sup {
  top: -0.5em;
}

/* line 92, ../_sass/_html5boilerplate.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 99, ../_sass/_html5boilerplate.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 100, ../_sass/_html5boilerplate.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 101, ../_sass/_html5boilerplate.scss */
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 113, ../_sass/_html5boilerplate.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/*
 * Correct overflow displayed oddly in IE9 
 */
/* line 119, ../_sass/_html5boilerplate.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 128, ../_sass/_html5boilerplate.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 135, ../_sass/_html5boilerplate.scss */
form {
  margin: 0;
}

/* line 136, ../_sass/_html5boilerplate.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
/* line 143, ../_sass/_html5boilerplate.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 146, ../_sass/_html5boilerplate.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 154, ../_sass/_html5boilerplate.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
/* line 161, ../_sass/_html5boilerplate.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
/* line 168, ../_sass/_html5boilerplate.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/*
 * Consistent box sizing and appearance
 */
/* line 174, ../_sass/_html5boilerplate.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 175, ../_sass/_html5boilerplate.scss */
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */
/* line 182, ../_sass/_html5boilerplate.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Remove default vertical scrollbar in IE6/7/8/9 */
/* line 185, ../_sass/_html5boilerplate.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* Colors for form validity */
/* line 189, ../_sass/_html5boilerplate.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 196, ../_sass/_html5boilerplate.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */
/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 217, ../_sass/_html5boilerplate.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 218, ../_sass/_html5boilerplate.scss */
.ir br {
  display: none;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 222, ../_sass/_html5boilerplate.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 226, ../_sass/_html5boilerplate.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* line 229, ../_sass/_html5boilerplate.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 232, ../_sass/_html5boilerplate.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 235, ../_sass/_html5boilerplate.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 236, ../_sass/_html5boilerplate.scss */
.clearfix:after {
  clear: both;
}

/* line 237, ../_sass/_html5boilerplate.scss */
.clearfix {
  zoom: 1;
}

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 264, ../_sass/_html5boilerplate.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 265, ../_sass/_html5boilerplate.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 266, ../_sass/_html5boilerplate.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 267, ../_sass/_html5boilerplate.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 268, ../_sass/_html5boilerplate.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 269, ../_sass/_html5boilerplate.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 270, ../_sass/_html5boilerplate.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 271, ../_sass/_html5boilerplate.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 272, ../_sass/_html5boilerplate.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 274, ../_sass/_html5boilerplate.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 275, ../_sass/_html5boilerplate.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 11, ../_sass/style.scss */
body {
  font: normal 100%/1.7 "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
  background-color: #fff;
  color: black;
}

/* line 16, ../_sass/style.scss */
h1, h2, h3 {
  font-family: Cambria, Georgia, Times New Roman, Times, serif;
  font-weight: bold;
}

/* line 22, ../_sass/style.scss */
h1 {
  font-size: 150%;
  padding: .2em .9em .3em .9em;
  margin: .4em 0;
  background-color: #9b96bc;
  display: inline-block;
}

/* line 29, ../_sass/style.scss */
h2 {
  font-size: 137%;
  background-color: #9b96bc;
  padding: 0.2em 0.9em 0.3em 0.9em;
  margin: 2em 0 .3em;
}

/* line 35, ../_sass/style.scss */
h3 {
  font-size: 120%;
  padding: .3em .5em .5em 1em;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(90%, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1) 90%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1) 90%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1) 90%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1) 90%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1) 90%);
}

/* line 40, ../_sass/style.scss */
a, a:visited {
  padding: 2px 2px 1px;
  text-decoration: none;
  color: black;
  background-color: #d6d4e4;
}

/* line 46, ../_sass/style.scss */
a:active, a:hover {
  color: black;
  background-color: #9b96bc;
}

/* line 50, ../_sass/style.scss */
p, ul {
  margin: 0 .5em .5em 0;
  padding-left: 1em;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(90%, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1) 90%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1) 90%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1) 90%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1) 90%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.1) 90%);
}

/* line 56, ../_sass/style.scss */
#content {
  margin-left: 38.2%;
  padding: 1.5em 0;
  -moz-box-shadow: -10px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -10px 0 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: -10px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 0 rgba(0, 0, 0, 0.1);
}
/* line 61, ../_sass/style.scss */
#content h1, #content h2, #content h3, #content p, #content ul {
  margin-left: -10px;
}
/* line 65, ../_sass/style.scss */
#content .west {
  width: 38.2%;
  display: inline-block;
  text-align: right;
  margin-left: -38.2%;
  position: relative;
}
/* line 73, ../_sass/style.scss */
#content h2.west {
  left: -1.8em;
}

/* line 82, ../_sass/style.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
}

/* line 88, ../_sass/style.scss */
::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

/* line 93, ../_sass/style.scss */
::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #b9b9b9;
}
