@import "base";

$font-family: "Helvetica Neue", Helvetica, Arial, FreeSans, sans-serif;
$header-font-family: Cambria, Georgia, Times New Roman, Times, serif;

$font-color: #000;
$main-color: #9B96BC;
$secondary-color: #C8C5DE;

$h2-horizontal-padding: .9em;


body {
  font: normal 100%/1.7 $font-family;
  background-color: #fff;
  color: $font-color;
}
h1, h2{
  font: {
    family: $header-font-family;
    weight: bold;
  }
}
h1 {
  font-size: 150%;
  padding: .2em .9em .3em .9em;
  margin: .4em 0;
  background-color: $main-color;
  display: inline-block;
}
h2 {
  font-size: 137%;
  background-color: $main-color;
  padding: .2em $h2-horizontal-padding .3em $h2-horizontal-padding;
  margin: 2em 0 .3em;
}
h3 {
  padding: .4em .5em .5em 1em;
  @include background-image(linear-gradient(left, rgba(0,0,0,.2), rgba(255,255,255,.1) 90%));
}
ul {
  padding: 0;
  margin: 0;
}
em {
  font: bold 110% $header-font-family;
}
a, a:visited {
  text-decoration: none;
  color: $font-color;
  padding: .2em .2em;
  border-bottom: 1px solid $main-color;
}
a:active, a:hover {
  color: $font-color;
  background: $secondary-color;
}
li {
  /*margin-bottom: .1em;*/
}
li, p{
  display: block;
  padding: .45em .5em .45em 1em;
  @include background-image(linear-gradient(left, rgba(0,0,0,.2), rgba(255,255,255,.1) 90%));
}

#content {
  margin-left: 38.2%;
  padding: 1.5em 0;
  @include box-shadow(-10px 0 0 rgba(0,0,0,.1));

  h1, h2, h3, p, ul {
    margin-left: -10px;
  }

  .west {
    width: 38.2%;
    display: inline-block;
    text-align: right;
    margin-left: -38.2%;
    position: relative;
  }

  h2.west {
    left: -2 * $h2-horizontal-padding;
  }
}


// SELECTION
@include selection(#c8c5de, #fff, none);


// SCROLLBARS!

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
  background-color: #b9b9b9;
}
